<%- include('./partials/header.ejs')%>

  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque dolorem corrupti deserunt voluptatum ipsam?
    Dolore mollitia nobis facilis corrupti! Reiciendis placeat quod totam ipsam pariatur quas impedit doloribus quis?
  </p>

  <%- include('./partials/footer.ejs')%>